* {
  box-sizing: border-box;
}

body {
  display: block;
  margin: 1rem;
  padding: 2rem;
}

.page {
  display: grid;
  grid-template-areas:
    "header     header      header"
    "navbar     navbar      navbar"
    "article1   article2    article3"
    "article4   article5    article5";
}

.brand-header {
  grid-area: header;
}

.brand {
  font-family: "Snell Roundhand";
  font-weight: normal;
  font-size: 60px;
  text-align: center;
  margin: 1rem;
}

.nav-links {
  grid-area: navbar;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
  margin: 0;
  padding: 2rem;
  border: 3px solid black;
}

.section-link {
  text-decoration: none;
  color: #666;
  font-size: 2rem;
}

.section-link:hover {
  text-decoration: underline;
  font-weight: bold;
}

.story {
  padding: 1rem;
  border-left: 3px solid black;
  border-bottom: 3px solid black;
}

.story h2 {
  font-style: italic;
  text-align: center;
}

.story-1 {
  grid-area: article1;
}

.article-img {
  display: block;
  margin: 0 auto;
  max-height: 250px;
}

.story-2 {
  grid-area: article2;
}

.story-3 {
  grid-area: article3;
  border-right: 3px solid black;
}

.story-4 {
  grid-area: article4;
}

.story-5 {
  grid-area: article5;
  border-right: 3px solid black;
}
